<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diary : Webtech</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .pointer { 
            cursor: pointer;
        }
    </style>
</head>
    <div id="app">
        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col-md-5">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center pointer" @click="returnToProfile">
                            <span class="text-secondary">&nbsp;Return to profile</span>
                        </div>
                        <div class="dropdown">
                            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">
                                Filter by
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item pointer" @click="filterBy('ALL')">All</a>
                                <a class="dropdown-item pointer" @click="filterBy('OTHERS')">Others</a>
                                <a class="dropdown-item pointer" @click="filterBy('PEERS')">Peers</a>
                                <a class="dropdown-item pointer" @click="filterBy('PERSONAL')">Personal</a>
                                <a class="dropdown-item pointer" @click="filterBy('SCHOOL')">School</a>
                            </div>
                        </div>
                    </div>
                    <form @submit.prevent="handleWriteDiary" class="mt-3">

                        <div class="form-group">
                            <textarea class="form-control" rows="4" placeholder="Write diary" v-model="diaryPayload.content" required></textarea>
                        </div>

                
                        <div class="d-flex mt-2 align-items-center">
                            <select class="form-control mr-2"  v-model="diaryPayload.category">
                                <option disabled :value="null">Category</option>
                                <option value="Others">Others</option>
                                <option value="Personal">Personal</option>
                                <option value="School">School</option>
                                <option value="Peers">Peers</option>
                            </select>
                            <button type="submit" class="btn btn-primary">Write</button>
                        </div>
                    </form>
                    <div style="margin-top: 100px"></div>
                    <div v-for="(data, index) in diaryBuffer" class="mt-5">
                        <div class="text-secondary mb-1 font-weight-bold" style="font-size: 15px;">Diary by {{data.postedBy}}</div>
                        <p class="text-secondary">{{data.content}}</p>
                        <div class="d-flex justify-content-end align-items-center">
                            <span class="p-0 m-0 mr-2" style="font-size: 12px;">
                                <div class="d-flex text-secondary">
                                    <span uk-icon="icon: hashtag"></span> 
                                    <span><b>{{data.category}}</b></span>
                                </div>
                            </span>
                            <span class="p-0 m-0 text-secondary"  style="font-size: 12px;"> 
                                <div class="d-flex align-items-center">
                                    <span uk-icon="icon: calendar"></span> 
                                    <span>&nbsp;{{data.datePosted}}</span>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>
    <script>
           var app = new Vue({
            el: '#app',
            data: {
                baseUrl: 'https://www.web-diary-app.somee.com/',
                local: null,
                diaries: [],
                diaryBuffer: [],
                diaryPayload: {
                    category: null,
                    content: null
                },
                diarySync: true,
                user: {}
            },
            methods: {
                returnToProfile: function() {
                    location.href = 'profile.html';
                },
                handleWriteDiary: function(){
                    if(this.local.userId) {
                        console.log('handleWriteDiary is triggered');
                        let payload = {
                            specialId: this.local.userId,
                            category: this.diaryPayload.category ??= "Others",
                            content: this.diaryPayload.content,
                            datePosted: moment(Date.now()).format('LLL'),
                            postedBy: this.user.firstName
                        }
                        axios.post(this.baseUrl+'api/diary/create', payload)
                            .then(res => {
                                this.fetchDiaries(); 
                                let snackbar = document.getElementById("snackbar");
                                    snackbar.className = "show";
                                    setTimeout(() => { 
                                        snackbar.className = snackbar.className.replace("show", ""); 
                                    }, 3000);
                            })
                            .catch(err => console.error(err));
                    }
                    this.fetchDiaries();
                },
                filterBy: function(type) {
                    switch(true) {
                        case type === "ALL":
                            this.diarySync = true;
                            this.fetchDiaries();
                            break;
                        case type === "OTHERS":
                            console.log("OTHERS");
                            this.diaryBuffer = this.diaries?.filter((data) => data.category.toLowerCase() == "others");
                            break;
                        case type === "PERSONAL":
                            console.log("PERSONAL");
                            this.diaryBuffer = this.diaries?.filter((data) => data.category.toLowerCase() == "personal");
                            break;
                        case type === "SCHOOL":
                            console.log("SCHOOL");
                            this.diaryBuffer = this.diaries?.filter((data) => data.category.toLowerCase() == "school");
                            break;
                        case type === "PEERS":
                            console.log("PEERS");
                            this.diaryBuffer = this.diaries?.filter((data) => data.category.toLowerCase() == "peers");
                            break;
                        default: 
                            return null
                    }
                },
                fetchDiaries: async function() {
                    if(this.local.userId) {
                        await axios.get(this.baseUrl+'api/diary/all')
                            .then(res => {
                                this.diaries = res.data.reverse();
                                this.diaryBuffer = res.data;
                            })
                            .catch(err => console.error(err));
                            console.log(this.diaries);
                    }
                },
                componentDidMount: async function() {
                    if(this.local.userId) {
                        await axios.get(this.baseUrl+`api/profile/findBySpecialId/${this.local?.userId}`)
                            .then(res => {
                                this.user = res.data[0];
                                document.title = this.user?.firstName + " " + this.user?.lastName;
                            })
                            .catch(err => console.log(err));
                    }
                }
            },
            mounted: function() {
                if(localStorage.lingutanLocalStorage) {
                    this.local = JSON.parse(localStorage.lingutanLocalStorage)
                    this.componentDidMount();
                    this.fetchDiaries();
                    return false;
                } else location.href = '../index.html';
            }
        })
    </script>
</body>
</html>